<h3>You have amassed a final amount of $<%=session[:player_money]%>!</h3>
<p>Now that you've honed your blackjack skills, there's nothing left to do except go to Vegas.</p>
<a href="/new_player">Start Over</a>